image: Visual Studio 2015
build: off
test: off

#---------------------------------#
#    environment configuration    #
#---------------------------------#

platform: x64
environment:
  NODEJS_VERSION: '10'
  CSC_LINK: '%WINDOWS_CSC_LINK%'
  CSC_KEY_PASSWORD: '%WINDOWS_CSC_KEY_PASSWORD%'

# Things to install after repo clone
install:
  - SET "PATH=%PATH%;C:\Program Files\Git\mingw64\libexec\git-core" # For weird git bug
  - ps: Install-Product node $env:NODEJS_VERSION $env:Platform
  - node --version
  - npm --version
  - npm config set msvs_version 2015
  - npm run bootstrap
  - npm test

cache:
  - '%USERPROFILE%\.electron -> packages/insomnia-app/package.json'

#---------------------------------#
#       tests configuration       #
#---------------------------------#

build_script:
  - if %APPVEYOR_REPO_TAG%==true npm run app-package

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  - path: packages\insomnia-app\dist\squirrel-windows\*
    name: dist

#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:
  description: ''
  provider: GitHub
  auth_token:
    secure: Ffmgxn+wt5WSf/jgJ/L+/3mkUs4fn9Z5j4Dz73VATsgL14Rf/xUp2nOyE0ecow+1
  artifact: dist
  prerelease: true
  on:
    appveyor_repo_tag: true
