{
  "presets": [
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "flow" // We need to add this again because it has to run before es2015
      ],
      "plugins": [
        "transform-regenerator",
        "transform-runtime"
      ]
    }
  }
}
