{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports",
    "transform-regenerator",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
