{
  "presets": [
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "env", {
          "targets": {
            "node": "8.4"
          }
        }
        ],
        "flow" // We need to add this again because it has to run before es2015
      ]
    }
  }
}
