{
  "parser": "babel-eslint",
  "extends": ["semistandard"],
  "plugins": ["react", "jest", "html", "json"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true,
    "fail": true
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
