.idea/
.github/
docker/
screenshots/
**/*.min.js
**/build/
**/dist/
**/.cache/
**/coverage/
**/node_modules/
**/webpack/
**/bin/
**/__fixtures__/
**/__snapshots__/
**/flow-typed/
**/dist/
**/.cache/
**/svgr/
**/storybook-static/
*.md
