{
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "avoid",
  "singleQuote": true,
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": "apps/desktop/**/*",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
