language: node_js

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang
      install:
        - sudo snap install --classic snapcraft
        - npm install 7zip-bin-linux > /dev/null
      env:
    - os: osx
      install:
        - npm install 7zip-bin-mac > /dev/null
      env:
        - CSC_LINK=$MAC_CSC_LINK
        - CSC_KEY_PASSWORD=$MAC_CSC_KEY_PASSWORD

addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - snapd
    - git-all
    - icnsutils
    - graphicsmagick

cache:
  directories:
    - node_modules
    - build/node_modules
    - $HOME/.electron
    - $HOME/.cache

script:
- node --version
- npm --version
- npm run bootstrap
- npm test

before_deploy:
- npm run app-package

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  file_glob: true
  prerelease: true
  file:
    - packages/insomnia-app/dist/**/*.zip
    - packages/insomnia-app/dist/**/*.dmg
    - packages/insomnia-app/dist/**/*.deb
    - packages/insomnia-app/dist/**/*.snap
    - packages/insomnia-app/dist/**/*.AppImage
    - packages/insomnia-app/dist/**/*.tar.gz
  on:
    tags: true
