language: node_js

matrix:
  include:
    - os: osx # High Sierra for older libcurl compatibility
      osx_image: xcode10.1
      if: (tag =~ ^core@)
      env:
        - APPLE_ID=$APPLE_ID
        - APPLE_ID_PASSWORD=$APPLE_ID_PASSWORD
        - CSC_LINK=$MAC_CSC_LINK
        - CSC_KEY_PASSWORD=$MAC_CSC_KEY_PASSWORD
    - os: osx # High Sierra for older libcurl compatibility
      osx_image: xcode10.1
      if: (tag =~ ^designer@)
      env:
        - APPLE_ID=$DESIGNER_APPLE_ID
        - APPLE_ID_PASSWORD=$DESIGNER_APPLE_ID_PASSWORD
        - CSC_LINK=$DESIGNER_MAC_CSC_LINK
        - CSC_KEY_PASSWORD=$DESIGNER_MAC_CSC_KEY_PASSWORD

cache:
  directories:
    - node_modules
    - packages/insomnia-app/node_modules
    - packages/insomnia-app/build/node_modules

script:
  - node --version
  - npm --version
  - npm run bootstrap
  - npm test
  # Setup branch because Travis doesn't provide a good way to get it
  - export TRAVIS_CURRENT_BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - npm run app-release
