{{ partial "head" . }}
<body class="floating-navbar template-splash">

{{ partial "navbar" . }}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h1>
          {{ .Title }}
        </h1>
        <h2 class="font-light">
          {{ .Params.subtitle }}
        </h2>
        <a href="{{ .Params.cta.href }}" class="button">{{ .Params.cta.text }}</a>
      </div>
    </div>
    <div class="jumbotron__img-container">
      <img src="{{ .Params.image.src }}" class="jumbotron__img" alt="{{ .Params.image.alt }}"/>
    </div>
  </div>
</div>

<main role="main">
  <section class="center no-margin padding-bottom padding-top">
    <div class="container">
      {{ .Content }}
    </div>
  </section>
</main>

<section class="dark no-margin padding-bottom padding-top">
  <div class="container">
    <div class="row center">
      <div class="col-8">
        <p class="no-margin" style="margin: 0.6rem;">
          Want to talk more? Just reach out, I'd love to help!
        </p>
      </div>
      <div class="col-4">
        {{ partial "contact-button" . }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer" . }}
{{ partial "js" . }}

</body>
</html>

