@import 'constants/colors';
@import 'constants/dimensions';

html, body, #root {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.tall {
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.hide-scrollbars {
  &::-webkit-scrollbar {
    display: none;
  }
}

strong {
  font-weight: 600;
}
