@import 'constants/colors';
@import 'constants/dimensions';

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  background: $bg-light;
  color: $font-light-bg;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

.CodeMirror {
  height: 100% !important;
  width: 100%;
  font-size: 13px !important;
  font-family: "Source Code Pro", monospace;
}

.CodeMirror, .CodeMirror-gutters, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background: $bg-dark !important;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  background: lighten($bg-dark, 10%);
}

