@import 'constants/dimensions';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  & > .col {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
}

.grid-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  & > .row {
    display: block;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
  }
}

.un-grid {
  display: initial;
  height: auto;
  width: auto;
}

@media (max-width: $breakpoint-md) {
  .grid.grid-collapse {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    & > .col {
      display: block;
      flex: 1 1 auto;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
