/* Do not change the position of tailwindcss import to ensure css cascade layer order  */
@import 'tailwindcss' source('../../../src');
@import '@fortawesome/fontawesome-svg-core/styles.css' layer(base);
@import 'codemirror/addon/dialog/dialog.css' layer(base);
@import 'codemirror/addon/fold/foldgutter.css' layer(base);
@import 'codemirror/addon/hint/show-hint.css' layer(base);
@import 'codemirror/addon/search/matchesonscrollbar.css' layer(base);
@import 'codemirror/addon/lint/lint.css' layer(base);
@import 'codemirror/lib/codemirror.css' layer(base);
/* used by merge-editor */
@import 'codemirror/addon/merge/merge.css' layer(base);
@import 'codemirror/theme/base16-dark.css' layer(base);
@import './lib/codemirror/merge-dark.css' layer(base);

@import './lib/codemirror/codemirror.css' layer(base);
@import './lib/codemirror/material.css' layer(base);
/* Monaco Editor CSS - all files imported to ensure styles are always available */
@import 'monaco-editor/esm/vs/base/browser/ui/actionbar/actionbar.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/aria/aria.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/breadcrumbs/breadcrumbsWidget.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/button/button.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/codicons/codicon/codicon-modifiers.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/codicons/codicon/codicon.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/contextview/contextview.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/countBadge/countBadge.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/dialog/dialog.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/dropdown/dropdown.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/findinput/findInput.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/hover/hoverWidget.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/iconLabel/iconlabel.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/inputbox/inputBox.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/keybindingLabel/keybindingLabel.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/list/list.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/mouseCursor/mouseCursor.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/progressbar/progressbar.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/radio/radio.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/sash/sash.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/scrollbar/media/scrollbars.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/selectBox/selectBox.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/selectBox/selectBoxCustom.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/splitview/splitview.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/table/table.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/toggle/toggle.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/toolbar/toolbar.css' layer(base);
@import 'monaco-editor/esm/vs/base/browser/ui/tree/media/tree.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/controller/textAreaHandler.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/services/hoverService/hover.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/blockDecorations/blockDecorations.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/currentLineHighlight/currentLineHighlight.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/decorations/decorations.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/glyphMargin/glyphMargin.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/indentGuides/indentGuides.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/lineNumbers/lineNumbers.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/lines/viewLines.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/linesDecorations/linesDecorations.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/margin/margin.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/marginDecorations/marginDecorations.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/minimap/minimap.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/overlayWidgets/overlayWidgets.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/rulers/rulers.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/scrollDecoration/scrollDecoration.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/selections/selections.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/viewCursors/viewCursors.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/viewParts/whitespace/whitespace.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/widget/codeEditor/editor.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/widget/diffEditor/components/accessibleDiffViewer.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/widget/diffEditor/style.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/widget/markdownRenderer/browser/renderedMarkdown.css' layer(base);
@import 'monaco-editor/esm/vs/editor/browser/widget/multiDiffEditor/style.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/anchorSelect/browser/anchorSelect.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/bracketMatching/browser/bracketMatching.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/codeAction/browser/lightBulbWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/codelens/browser/codelensWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/colorPicker/browser/colorPicker.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/dnd/browser/dnd.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/dropOrPasteInto/browser/postEditWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/find/browser/findOptionsWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/find/browser/findWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/folding/browser/folding.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/gotoError/browser/media/gotoErrorWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/gotoSymbol/browser/link/goToDefinitionAtPosition.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/gotoSymbol/browser/peek/referencesWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/hover/browser/hover.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inPlaceReplace/browser/inPlaceReplace.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineCompletions/browser/hintsWidget/inlineCompletionsHintsWidget.css'
  layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineCompletions/browser/view/ghostTextView.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineEdit/browser/inlineEdit.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineEdit/browser/inlineEditHintsWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineEdit/browser/inlineEditSideBySideWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineEdits/browser/inlineEditsWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/inlineProgress/browser/inlineProgressWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/linkedEditing/browser/linkedEditing.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/links/browser/links.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/message/browser/messageController.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/parameterHints/browser/parameterHints.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/peekView/browser/media/peekViewWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/placeholderText/browser/placeholderText.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/rename/browser/renameWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/snippet/browser/snippetSession.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/stickyScroll/browser/stickyScroll.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/suggest/browser/media/suggest.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/symbolIcons/browser/symbolIcons.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/unicodeHighlighter/browser/bannerController.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/unicodeHighlighter/browser/unicodeHighlighter.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/wordHighlighter/browser/highlightDecorations.css' layer(base);
@import 'monaco-editor/esm/vs/editor/contrib/zoneWidget/browser/zoneWidget.css' layer(base);
@import 'monaco-editor/esm/vs/editor/standalone/browser/iPadShowKeyboard/iPadShowKeyboard.css' layer(base);
@import 'monaco-editor/esm/vs/editor/standalone/browser/inspectTokens/inspectTokens.css' layer(base);
@import 'monaco-editor/esm/vs/editor/standalone/browser/quickInput/standaloneQuickInput.css' layer(base);
@import 'monaco-editor/esm/vs/editor/standalone/browser/standalone-tokens.css' layer(base);
@import 'monaco-editor/esm/vs/platform/actionWidget/browser/actionWidget.css' layer(base);
@import 'monaco-editor/esm/vs/platform/actions/browser/menuEntryActionViewItem.css' layer(base);
@import 'monaco-editor/esm/vs/platform/opener/browser/link.css' layer(base);
@import 'monaco-editor/esm/vs/platform/quickinput/browser/media/quickInput.css' layer(base);
@import 'monaco-editor/esm/vs/platform/severityIcon/browser/media/severityIcon.css' layer(base);
@import 'monaco-editor/min/vs/editor/editor.main.css' layer(base);
@import './main.css' layer(base);

@plugin '@tailwindcss/typography';

@theme {
  --animate-text-slide-4: text-slide-4 7s cubic-bezier(0.83, 0, 0.17, 1) infinite;
  --animate-up-loop: up-loop 1s linear infinite;
  --animate-down-loop: down-loop 1s linear infinite;

  @keyframes text-slide-4 {
    0%,
    20% {
      transform: translateY(0%);
    }
    25%,
    45% {
      transform: translateY(-20%);
    }
    50%,
    70% {
      transform: translateY(-40%);
    }
    75%,
    95% {
      transform: translateY(-60%);
    }
    100% {
      transform: translateY(-80%);
    }
  }
  @keyframes up-loop {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
  }
  @keyframes down-loop {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(10px);
      opacity: 0;
    }
  }
}

html {
  font-size: 11px;
}

.grid-template-app-layout {
  grid-template:
    'Header Header' auto
    'Content Content' 1fr
    'Statusbar Statusbar' 30px [row-end]
    / 50px 1fr;

  &.with-banner {
    grid-template:
      'Header Header' auto
      'Banner Banner' 30px
      'Content Content' 1fr
      'Statusbar Statusbar' 30px [row-end]
      / 50px 1fr;

    &.with-navbar {
      grid-template:
        'Header Header' auto
        'Banner Banner' 30px
        'Navbar Content' 1fr
        'Statusbar Statusbar' 30px [row-end]
        / 50px 1fr;
    }
  }

  &.with-navbar {
    grid-template:
      'Header Header' auto
      'Navbar Content' 1fr
      'Statusbar Statusbar' 30px [row-end]
      / 50px 1fr;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 12px;
  height: 12px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border-radius: 9999px;
  border: none;
}

.new-sidebar {
  z-index: 0;
}
.new-sidebar .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-font);
  overflow: hidden;
}

table.json-diff-viewer {
  colgroup {
    width: 100%;

    col {
      width: 50%;
    }
  }

  td {
    padding: 1px 4px;
    font-size: 0;
  }

  tr {
    vertical-align: top;

    .line-remove {
      background: rgba(var(--color-danger-rgb), 0.2);
      color: var(--color-font);
    }

    .line-add {
      background: rgba(var(--color-success-rgb), 0.2);
      color: var(--color-font);
    }

    .line-modify {
      background: rgba(var(--color-warning-rgb), 0.2);
      color: var(--color-font);
    }

    &.expand-line {
      text-align: center;

      button {
        margin: 0 0.5em;
        padding: 0;
        color: var(--color-font);
        font-size: 12px;
        border: none;
        background: transparent;
        user-select: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  pre {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 350ms ease-in;
}

.monaco-editor .margin {
  margin: 0;
}

::view-transition-new(toast):only-child {
  animation: slideIn 400ms ease-out;
}

::view-transition-old(toast):only-child {
  animation: slideOut 400ms ease-in;
}

@keyframes slideIn {
  from {
    translate: 100% 0;
    opacity: 0;
  }
}
@keyframes slideOut {
  to {
    translate: 100% 0;
    opacity: 0;
  }
}

.CodeMirror-merge {
  height: 100%;
}
.CodeMirror-merge .CodeMirror-merge-pane {
  height: 100%;
}
.CodeMirror-merge .CodeMirror {
  height: 100%;
}
