/* Background Colors */
//$bg-primary: #7D70CC;
$bg-light: #eff0ed;
$bg-super-light: #fff;
$bg-dark: #2e2f2b;
$bg-super-dark: #292a26;
$bg-brand: #7D70CC;
$color-brand: #7D70CC;

/* Font Colors */
$font-light-bg: #444;
$font-super-light-bg: #555;
$font-dark-bg: #ddd;
$font-super-dark-bg: #c8c8c8;
$font-primary-bg: #eee;

$hl-xxs: rgba(140, 140, 140, 0.05);
$hl-xs: rgba(140, 140, 140, 0.09);
$hl-sm: rgba(140, 140, 140, 0.15);
$hl-md: rgba(140, 140, 140, 0.25);
$hl-lg: rgba(140, 140, 140, 0.35);
$hl-xl: rgba(140, 140, 140, 0.5);
$hl-xxl: rgba(140, 140, 140, 0.7);
$hl: rgba(140, 140, 140, 1);

$success: #6bad2b;
$warning: #ffad36;
$danger: #ff6d59;
$surprise: #a086ff;
$info: #3ca4ba;

.success,
.method-POST {
  border-color: $success !important;
  color: $success;
}

.warning,
.method-PUT,
.method-PATCH {
  border-color: $warning !important;
  color: $warning;
}

.danger,
.method-DELETE {
  border-color: $danger !important;
  color: $danger;
}

.info,
.method-OPTIONS,
.method-HEAD {
  border-color: $info !important;
  color: $info;
}

.surprise,
.method-GET {
  border-color: $surprise !important;
  color: $surprise;
}

.bg-dark {
  background: $bg-dark;
  &, a, textarea, input, button {
    color: $font-dark-bg;
  }
}

.bg-super-dark {
  background: $bg-super-dark;
  &, a, textarea, input, button {
    color: $font-super-dark-bg;
  }
}

.bg-light {
  background: $bg-light;

  &, a, textarea, input, button {
    color: $font-light-bg;
  }
}

.bg-super-light {
  background: $bg-super-light;
  &, a, textarea, input, button {
    color: $font-super-light-bg;
  }
}

.bg-brand {
  background: $bg-brand;
  &, a, textarea, input, button {
    color: white;
  }
}
