/* Background Colors */
$bg-primary: #7D70CC;
$bg-light: #efefef;
$bg-super-light: #ffffff;
$bg-dark: #272824;

$hl-xxs: rgba(130, 130, 130, 0.05);
$hl-xs: rgba(130, 130, 130, 0.09);
$hl-sm: rgba(130, 130, 130, 0.15);
$hl-md: rgba(130, 130, 130, 0.25);
$hl-lg: rgba(130, 130, 130, 0.35);
$hl-xl: rgba(130, 130, 130, 0.5);
$hl: rgba(130, 130, 130, 1);

$success: #598f07;

/* Font Colors */
$font-light-bg: #444444;
$font-dark-bg: #eeeeee;

$faint-opacity: 0.5;

.success {
  border-color: $success !important;
  color: $success;
}

.bg-dark {
  background: $bg-dark;
  &, a, textarea, input, button {
    color: $font-dark-bg;
  }
}

.bg-primary {
  background: $bg-primary;

  &, a, textarea, input, button {
    color: $font-dark-bg;
  }
}

.bg-light {
  background: $bg-light;

  &, a, textarea, input, button {
    color: $font-light-bg;
  }
}

.bg-super-light {
  background: $bg-super-light;
  &, a, textarea, input, button {
    color: $font-light-bg;
  }
}
