/* Padding */
$padding-md: 15px;
$padding-sm: $padding-md / 2;
$padding-lg: $padding-md * 2;

/* Fonts */
$font-size: 12px;
$font-size-sm: $font-size * 0.8;
$font-size-md: $font-size;
$font-size-lg: $font-size * 1.2;
$font-size-xl: $font-size * 1.4;
$font-size-xxl: $font-size * 1.6;

/* Breakpoints */
$breakpoint-md: 888px;
$breakpoint-sm: 555px;

/* Wrapper */
$line-height-md: 50px;
$line-height-sm: $line-height-md * 0.75;

/* Sidebar */
$sidebar-width: 250px;
$sidebar-width-sm: $sidebar-width * 0.75;

/* Elements */
$form-height: 50px;

/* Borders */
$radius-md: 2px;

.pad {
  padding: $padding-md;
}

.txt-sm {
  font-size: $font-size-sm;
}

.txt-md {
  font-size: $font-size-md;
}

.txt-lg {
  font-size: $font-size-lg;
}

.txt-xl {
  font-size: $font-size-xl;
}
