$default-padding: 15px;

/* Fonts */
$font-size: 12px;
$font-size-sm: $font-size * 0.8;
$font-size-md: $font-size;
$font-size-lg: $font-size * 1.3;
$font-size-xl: $font-size * 1.5;
$font-size-xxl: $font-size * 1.8;

.txt-sm {
  font-size: $font-size-sm;
}

.txt-md {
  font-size: $font-size-md;
}

.txt-lg {
  font-size: $font-size-lg;
}

.txt-xl {
  font-size: $font-size-xl;
}

/* Wrapper */
$header-height: 50px;

/* Sidebar */
$sidebar-width: 300px;
$sidebar-item-height: 45px;

/* Elements */
$form-height: 50px;
