@import '../constants/dimensions';
@import '../constants/colors';

.activity-bar {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  border-right: 1px solid @hl-md;

  &__spacer {
    flex: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: @line-height-md;
    width: @line-height-md;

    i {
      color: var(--hl);
      font-size: @font-size-lg;
    }

    // Set active opacity
    &:hover {
      background-color: var(--hl-sm);
      color: var(--color-font);
    }

    &--active i {
      color: var(--color-font);
    }
  }
}
