.graphql-explorer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto minmax(0, 1fr);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  max-width: 100%;
  z-index: 100;
  background: var(--color-bg);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  color: var(--color-font);
  user-select: text;

  .markdown-preview__content *:first-child {
    margin-top: var(--padding-sm);
  }

  &__subheading {
    border-bottom: 1px solid var(--hl-md);
    padding-bottom: var(--padding-sm);
    margin-top: var(--padding-lg);
    margin-bottom: var(--padding-md);
  }

  &__header {
    overflow: hidden;
    border-bottom: 1px solid var(--hl-md);
    box-sizing: border-box;
    height: var(--height-nav);
    line-height: var(--line-height-md);
    color: var(--color-font);
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--font-size-lg);
      font-weight: bold;
    }

    & > * {
      white-space: nowrap;
      padding-left: var(--padding-md);
      display: inline-block;
      margin: 0;
    }

    &__close-btn {
      height: 100% !important;
    }
  }

  &__body {
    box-sizing: border-box;
    padding: var(--padding-md) var(--padding-md) 10rem;
    overflow: auto;
    height: 100%;
    max-height: 100%;
  }

  &__defs {
    &__description {
      margin-left: var(--padding-sm);
      color: var(--color-font);
    }

    &__arg {
      margin-left: var(--padding-md);
    }

    li {
      margin-bottom: var(--padding-md);
    }
  }

  a {
    font-weight: normal !important;
  }

  &__search {
    // Nothing yet
    font-size: var(--font-size-sm);

    .form-control input {
      padding: var(--padding-xs);
      margin-top: 0;
      background: transparent;
    }
  }
}
