.request-pane {
  height: 100%;
  grid-template-rows: var(--line-height-md) minmax(0, 1fr) !important;

  .request-pane__shortcuts-table {
    color: var(--hl-xl);
    text-align: left;
  }

  .form-control {
    margin-top: var(--padding-xxs);
  }
}
