.overlay {
  background-color: var(--color-bg);
  color: var(--color-font);

  // NOTE: Hiding with `return null` or `display: none` seems to cause
  // the pane to go white for some reason. So, we're hiding it behind
  // instead.
  .overlay--hidden {
    z-index: -10000;
  }
}
