@import '../constants/colors';
@import '../constants/dimensions';

@border-color: var(--hl-md);

.ReactTabs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: 100%;
  align-content: stretch;

  .ReactTabs__TabList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-bg);
    overflow: auto;

    @scrollbar-height: 3px;

    &::-webkit-scrollbar {
      height: @scrollbar-height;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: @scrollbar-height / 2;
      background-color: var(--hl-sm);
    }

    &::after {
      width: 100%;
      height: @line-height-sm;
      content: "";
      border-bottom: 1px solid @border-color;
    }
  }

  .ReactTabs__Tab {
    height: @line-height-sm;
    border: 1px solid transparent;
    border-bottom: 1px solid @border-color;
    border-top: 0 !important;
    white-space: nowrap;
    display: flex;
    position: relative;

    &:not(.ReactTabs__Tab--selected)::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .bubble {
      position: relative;
      bottom: 0.4em;
      font-size: 0.8em;
      min-width: 0.6em;
      background: var(--hl-sm);
      padding: 2px;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      line-height: 0.8em;
      border: 1px solid var(--hl-xxs);
    }

    &:first-child {
      border-left: 0 !important;
    }

    &:focus {
      outline: 0;
    }

    & > * {
      color: @hl;
      height: 100%;
      padding-left: @padding-md / 4;
      padding-right: @padding-md / 4;

      &:first-child {
        padding-left: @padding-md;
      }

      &:last-child {
        padding-right: @padding-md;
      }
    }

    &:not(.ReactTabs__Tab--selected) .dropdown i.fa {
      opacity: @opacity-super-subtle;
    }

    &.ReactTabs__Tab--selected {
      border: 1px solid @border-color;
      border-bottom-color: transparent;

      * {
        color: inherit;
      }
    }
  }

  .ReactTabs__Tab > button,
  .ReactTabs__Tab > .dropdown > button {
    background: transparent;
  }

  .ReactTabs__Tab > button > a {
    color: inherit;
  }

  .ReactTabs__TabPanel {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
