@import '../constants/dimensions';
@import '../constants/colors';
@import '../constants/animations';

.toast {
  opacity: 0;
  position: absolute;
  z-index: 100;
  bottom: -3rem;
  right: -10rem;
  background: var(--color-bg);
  color: var(--color-font);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  transition: opacity 200ms, right 300ms, bottom 300ms, transform 200ms ease-out;
  padding: @padding-sm;
  transform: scale(0.8);
  border-radius: @radius-md;
  border: 1px solid var(--hl-sm);

  &.toast--show {
    opacity: 1;
    transform: scale(1);
    bottom: @padding-md;
    right: @padding-md;
  }

  .toast__image,
  .toast__content {
    height: 100%;
    width: 100%;
  }

  .toast__message {
    padding: 0;
    margin: 0;
    max-width: 20rem;
  }

  .toast__actions {
    padding-top: @padding-sm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .toast__image {
    padding-right: @padding-sm;
    display: flex;
    align-items: center;
    flex-direction: row;

    img {
      margin-left: @padding-sm;
      margin-right: @padding-sm;
      max-width: 5rem;
      max-height: 5rem;
      border-radius: 50%;
      box-shadow: 0 0 @padding-sm rgba(0, 0, 0, 0.2);
    }
  }
}
