@import '../constants/dimensions';
@import '../constants/colors';
@import '../constants/animations';


.toast {
  opacity: 0;
  position: absolute;
  z-index: 100;
  bottom: @padding-md;
  right: @padding-md;
  background: @bg-light;
  color: @font-light-bg;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 500ms;
  padding: @padding-sm @padding-xs @padding-sm @padding-md;

  &.toast--show {
    opacity: 1;
  }

  .toast__message {
    display: inline-block;
    padding-left: @padding-xs;
  }

  .toast__action {
    color: @surprise;
    text-transform: uppercase;
    font-size: @font-size-sm;
    padding-left: @padding-md;
  }

  .toast__action > button {
    border-color: inherit;
    min-width: 7em;
  }

  .toast__action--close {
    color: @hl-md;
    padding-left: @padding-sm;

    &:hover {
      color: @hl;
    }
  }

  .toast__action--close > button:hover,
  .toast__action--close > button {
    font-size: @font-size-xs;
    padding: 0 @padding-xs;
    border: 0;
    min-width: 0;
    background: transparent;
  }
}
