{{ partial "head" . }}
<body class="template-changelog">

{{ partial "navbar" . }}

<main role="main">
  <header class="container header--big">
    <div class="row">
      <div class="col-12">
        <h1>Insomnia Changelog</h1>
        <p>
          <a href="{{ .RSSLink }}"
             class="button"
             type="application/rss+xml"
             target="_blank"
             title="RSS">
            Subscribe via RSS
          </a>
        </p>
      </div>
    </div>
  </header>
  {{ with .Paginate (where .Data.Pages.ByDate.Reverse "Type" "changelog") 10 }}
  {{ partial "changelog-list" . }}
  {{ end }}
  {{ partial "pagination" . }}
</main>

{{ partial "footer" . }}
{{ partial "js" . }}

</body>
</html>

