<!-- Google Analytics -->
<script>
  (function () {
    var disableGA = window.localStorage['disableGA'] ||
      window.location.hostname === 'localhost';

    var s = window.location.search;
    if (s.indexOf('state=') >= 0 && s.indexOf('code=') >= 0) {
      // Disable GA for those using insomnia.rest for OAuth2 callback
      disableGA = true;
    }

    if (!disableGA) {
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-86416787-1', 'auto');
      ga('set', 'transport', 'beacon');
      ga('send', 'pageview');
    } else {
      console.log('-- Google Analytics Disabled for ' + window.location.hostname + ' --');
      window.ga = function () {
        console.log('GA', arguments);
      };
    }
  })();
</script>
