{{ partial "head" . }}
<body class="template-default">

{{ partial "fontawesome" }}

{{ partial "navbar" . }}

<main role="main">
    <article>
        {{ if not .Params.hideheader }}
        <header class="container header--big">
            <div class="row">
                <div class="col-12">
                    <h1>{{ .Title }}</h1>
                    {{ if isset .Params "subtitle" }}
                    <p class="text-lg">{{ .Params.subtitle | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </header>
        {{ end }}

        <section class="content container">
            <div class="row">
                <div class="col-12">
                    {{ .Content }}
                </div>
            </div>
        </section>
    </article>
</main>

{{ partial "footer" . }}
{{ partial "js" . }}

</body>
</html>
