{{ partial "head" . }}
<body class="home-template">

{{ partial "navbar" . }}

<main class="content" role="main">
    <header class="container header--big">
        <div class="row">
            <div class="col-12">
                <h1>Blog Tag: <code>{{ .Title }}</code></h1>
            </div>
        </div>
    </header>
    {{ with .Paginate (where .Data.Pages.ByDate.Reverse "Type" "blog") 10 }}
    {{ partial "post-list" . }}
    {{ end }}
    {{ partial "pagination" . }}

    <footer class="container">
        <section class="row">
            <div class="col-12">
                <a href="/blog">&laquo; All Blog Posts</a>
            </div>
        </section>
    </footer>
</main>

{{ partial "footer" . }}
{{ partial "js" . }}

</body>
</html>

