/* ~~~~~ */
/* LINKS */
/* ~~~~~ */

a, .button {
    color: #745be6;
    font-weight: 400 !important;
}

a:hover, .button:hover {
    color: #6147d1;
}

/* ~~~~~~~~~ */
/* JUMBOTRON */
/* ~~~~~~~~~ */

.jumbotron {
    background: linear-gradient(165deg, #6e60cc 0%, #484389 100%);
    text-align: center;
    padding: 9rem 0 8rem 0;
    margin-bottom: 2rem;
}

.jumbotron *:not(.button) {
    color: #fff;
    line-height: 1.5em;
}

img.jumbotron__icon {
    max-height: 8rem;
    margin: -2rem auto 3rem;
}

.jumbotron__undie {
    border-bottom: 0.1em solid white;
}

.jumbotron h1 {
    font-size: 2.3rem;
    margin: 0;
}

.jumbotron h2 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.7rem;
    color: #eee;
}

.jumbotron .button {
    color: #fff;
    border: 1px solid #fff;
    margin: 4rem auto 5rem;
    font-size: 1.1em;
}

.jumbotron .button:hover {
    text-decoration: none;
    background: #fff;
    color: #675BC0;
}

.jumbotron__img-container {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
    height: 0;
    max-width: 55rem;
    margin: auto;
}

.jumbotron__img {
    display: block;
    margin: auto;
    z-index: 1;
    border-radius: 0.2rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
}

/* ~~~~~~~~~~~~ */
/* NOTIFICATION */
/* ~~~~~~~~~~~~ */

.notification {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 0;
}

.notification__content {
    padding: 0.5rem;
    text-align: center;
}

/* ~~~~~~~~~~~~~ */
/* FEATURES LIST */
/* ~~~~~~~~~~~~~ */

.feature-list {
    max-width: 40rem;
    margin: 1rem auto;
}

.feature-list ul {
    width: 14rem;
    margin: 0 auto;
}

.feature-list li {
    line-height: 1.9em;
    list-style: circle;
    margin: auto;
    width: auto;
}

/* ~~~~~~~~ */
/* ARTICLES */
/* ~~~~~~~~ */

article h1[id],
article h2[id],
article h3[id] {
    position: relative;
}

article h1[id]:hover::before,
article h2[id]:hover::before,
article h3[id]:hover::before {
    position: absolute;
    left: -1em;
    content: ' ¶';
}

article a > img {
    outline: 2px solid transparent;
}

article a > img:hover {
    outline: 2px solid #eee;
    transition: outline 200ms;
}

/* ~~~~~~~~~~~~~~ */
/* DOWNLOADS PAGE */
/* ~~~~~~~~~~~~~~ */

.platform-download .button {
    margin-top: 2rem;
    width: 10rem;
}

.platform-download__icon {
    background: #ccc;
    width: 10rem;
    height: 10rem;
}

.platform-download__icon::before {
    display: block;
    line-height: 10rem;
    font-size: 4rem !important;
    text-align: center;
    color: #fff;
}

/* ~~~~~~ */
/* IMAGES */
/* ~~~~~~ */

.img--promo {
    width: auto;
    display: inline-block;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    max-height: 12rem;
    margin: 1rem auto;
}

/* ~~~~~~ */
/* COLORS */
/* ~~~~~~ */

.bg-mac {
    background-color: #bbb;
}

.bg-windows {
    background-color: #00bcf2;
}

.bg-linux {
    background-color: #333;
}

/* ~~~~~~~~~~~~~ */
/* PRICING PAGE  */
/* ~~~~~~~~~~~~~ */

.pricing {
    margin-top: 1rem;
}

.pricing__column {
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
    padding-bottom: 5rem;
    border-radius: 3px;
    overflow: hidden;
    transform: scale(0.9);
}

.pricing__column__header {
    padding: 1rem 1.5rem;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

.pricing__column__header h1 {
    font-size: 1.4rem;
}

.pricing__column__body {
    padding: 1.5rem;
}

.pricing__column__body h2 {
    font-size: 1.3rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

.pricing__column__footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.pricing__column__footer .button {
    width: 100%;
    border-color: #aaa;
    color: #777;
}

.pricing__column__footer .button:hover {
    width: 100%;
    border-color: #888;
    background-color: #888;
    color: #fff;
}

.pricing__column__body ul {
    padding-left: 1rem;
    margin: 0;
    display: block;
}

.pricing__column--best {
    box-shadow: 0 0 2em rgba(91, 79, 169, 0.3);
    transform: scale(1);
}

.pricing__column--best, .pricing__column--best > .pricing__column__header {
    border-color: #6a57d5;
}

.pricing__column--best > .pricing__column__header {
    background: #6a57d5;
}

.pricing__column--best > .pricing__column__footer .button {
    color: #6a57d5;
    border-color: #6a57d5;
}

.pricing__column--best > .pricing__column__footer .button:hover {
    color: #fff;
    border-color: #6a57d5;
    background-color: #6a57d5;
}

.pricing__column--best > .pricing__column__header h1 {
    color: #fff;
}

.pricing__column--better {
    box-shadow: 0 0 2em rgba(68, 68, 68, 0.3);
    transform: scale(0.95);
}

.pricing__column--better, .pricing__column--better > .pricing__column__header {
    border-color: #555;
}

.pricing__column--better > .pricing__column__header {
    background: #555;
}

.pricing__column--better > .pricing__column__footer .button {
    color: #555;
    border-color: #555;
}

.pricing__column--better > .pricing__column__footer .button:hover {
    color: #fff;
    border-color: #555;
    background-color: #555;
}

.pricing__column--better > .pricing__column__header h1 {
    color: #fff;
}

/* ~~~~~~~ */
/* SIDEBAR */
/* ~~~~~~~ */

.docs-sidebar {
    max-width: 15rem;
}

.docs-sidebar ul {
    padding: 0;
    margin: 0 0 1.4rem;
}

.docs-sidebar li {
    list-style: none;
    width: 100%;
}

.docs-sidebar__entry {
    padding: 0.2rem 0;
    display: inline-block;
    font-weight: normal;
}

.docs-sidebar__entry--active::after {
    content: "→";
}

.docs-sidebar h2 {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 0.4rem;
}

/* ~~~~~ */
/* LISTS */
/* ~~~~~ */

ul.ul--decorated {
    list-style: none;
}

ul.ul--decorated li {
    position: relative;
}

ul.ul--decorated li:before {
    position: absolute;
    font-size: 0.9em;
    font-weight: bold;
    left: -1.4rem;
}

li.li--major:before,
ul.ul--major li:before {
    content: '\01F680';
}

li.li--fix:before,
ul.ul--fix li:before {
    content: '\01F691';
}

li.li--minor:before,
ul.ul--minor li:before {
    content: '\01F484';
}

/* ~~~~~~~~~ */
/* APP STUFF */
/* ~~~~~~~~~ */

.app-container {
    max-width: 30rem;
    margin: auto;
}

.show-logged-out,
.show-logged-in {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.show-logged-in {
    display: none;
    transition: opacity 0.2s ease;
}

body[data-logged-in="yes"] .show-logged-in {
    display: block;
    opacity: 1;
}

body[data-logged-in="yes"] .show-logged-out {
    display: none;
    opacity: 0;
}

body[data-logged-in="no"] .show-logged-in {
    display: none;
    opacity: 0;
}

body[data-logged-in="no"] .show-logged-out {
    display: block;
    opacity: 1;
}

[data-hide-until-rendered="hide"] > * {
    opacity: 0 !important;
}

[data-hide-until-rendered="show"] > * {
    opacity: 1 !important;
    transition: all 0.7s ease;
}

[data-hide-until-rendered="hide"]::before {
    font-size: 3rem;
    content: 'Loading...';
    opacity: 0.2;
    display: block;
    margin: 4rem auto;
    width: 100%;
    text-align: center;
}

/* ~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~ */

@media only screen and (max-width: 33.75rem) {
    .navbar__items {
        margin-right: 0;
    }

    .navbar__items li[data-menu-item="download"],
    .navbar__items li[data-menu-item="account"],
    .navbar__items li[data-menu-item="signup"] {
        display: none;
    }
}

@media only screen and (max-width: 45rem) {
    .docs-sidebar__entry--active::after {
        content: "↓";
    }

    .docs-sidebar {
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem;
        max-width: none;
    }

    .docs-sidebar li {
        display: inline-block;
        width: auto;
    }

    .docs-sidebar li {
        margin-right: 0.5rem;
    }

    .docs-sidebar li:not(:last-child)::after {
        margin-left: 0.5rem;
        content: '|';
    }

    .navbar__items li[data-menu-item="download"] {
        display: none;
    }
}

@media only screen and (min-width: 23rem) {
    .jumbotron {
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 33.75rem) {
    .img--promo {
        max-height: 12rem;
    }

    .jumbotron {
        margin-bottom: 12rem;
    }
}

@media only screen and (min-width: 45rem) {
    .img--promo {
        max-height: 7rem;
    }

    .jumbotron {
        margin-bottom: 17rem;
    }

    .pricing {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 60rem) {
    .img--promo {
        max-height: 10rem;
    }

    .jumbotron {
        margin-bottom: 19rem;
    }

    .jumbotron__img-container {
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        margin: auto;
    }
}
