<!--<div class="notification dark">-->
  <!--<div class="container notification__content">-->
    <!--Insomnia is now open source!-->
    <!--<a href="/blog/open-source-announcement/" class="notification__cta">Read Announcement</a>-->
  <!--</div>-->
<!--</div>-->

<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-12 navbar__container">
        <a href="{{ .Site.BaseURL }}" class="navbar__icon">
          <img src="/images/icon-small.png" alt="Insomnia REST Client icon">
        </a>
        <a href="{{ .Site.BaseURL }}" class="navbar__title">
          <h1>{{ .Site.Params.shortName }}</h1>
        </a>

        {{ if .Site.Menus.main }}
        <ul class="navbar__items">
          {{ range .Site.Menus.main }}
          <li data-menu-item="{{ .Identifier }}">
            {{ if eq .Identifier "signup" }}
            <a href="{{ .URL }}" class="show-logged-out">{{ .Name }}</a>
            {{ else if eq .Identifier "account" }}
            <a href="{{ .URL }}" class="show-logged-in">{{ .Name }}</a>
            {{ else if eq .Identifier "download" }}
            <div>
              <a href="{{ .URL }}" class="button">{{ .Name }}</a>
            </div>
            {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
<script>
  if (localStorage && localStorage.currentSessionId) {
    document.body.setAttribute('data-logged-in', 'yes');
  } else {
    document.body.setAttribute('data-logged-in', 'no');
  }
</script>
