<p class="subtle">
  Share this post &#128522; &#128640;
</p>
<div class="share-buttons">

  <!-- Twitter -->
  <a
    href="http://twitter.com/share?url={{ .Permalink | safeURL }}&text={{ .Title | safeURL }}&via={{ .Site.Params.twitter }}"
    onclick="window.open(this.href, 'twitter-share', 'width=800,height=600');return false;"
    title="Share on Twitter"
    class="button--share button twitter">
    <i class="fa fa-twitter"></i>
  </a>

  <!-- Google Plus -->
  <a href="https://plus.google.com/share?url={{ .Permalink | safeURL }}"
     onclick="window.open(this.href, 'google-plus-share');return false;"
     title="Share on Google+"
     class="button--share button google-plus">
    <i class="fa fa-google-plus"></i>
  </a>

  <!-- Reddit (url, title) -->
  <a href="http://reddit.com/submit?url={{ .Permalink | safeURL }}&title={{ .Title | safeURL }}"
     onclick="window.open(this.href, 'reddit-share', 'width=900,height=600');return false;"
     title="Post to Reddit"
     class="button--share button reddit">
    <i class="fa fa-reddit"></i>
  </a>

  <!-- Facebook -->
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}"
     onclick="window.open(this.href, 'facebook-share', 'width=800,height=600');return false;"
     title="Share on Facebook"
     class="button--share button facebook">
    <i class="fa fa-facebook"></i>
  </a>

  <!-- StumbleUpon (url, title) -->
  <a
    href="http://www.stumbleupon.com/submit?url={{ .Permalink | safeURL }}&title={{ .Title | safeURL }}"
    onclick="window.open(this.href, 'stumbleupon-share', 'width=800,height=600');return false;"
    title="Post to StumbleUpon"
    class="button--share button stumbleupon">
    <i class="fa fa-stumbleupon"></i>
  </a>

  <!-- LinkedIn -->
  <a
    href="http://www.linkedin.com/shareArticle?url={{ .Permalink | safeURL }}&title={{ .Title | safeURL }}"
    onclick="window.open(this.href, 'linkedin-share', 'width=800,height=600');return false;"
    title="Share on LinkedIn"
    class="button--share button linkedin">
    <i class="fa fa-linkedin"></i>
  </a>

  <!-- Email -->
  <a href="mailto:?subject={{ .Title | safeURL }}"
     target="_blank"
     title="Share via email"
     onclick="window.open(this.href, 'email-share', 'width=800,height=600');return false;"
     class="button--share button email">
    <i class="fa fa-envelope"></i>
  </a>
</div>
