.tabs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: 100%;
  align-content: stretch;
}

[role='tablist'] {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: var(--line-height-sm);
  box-sizing: border-box;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--hl-md);

  &::-webkit-scrollbar {
    height: var(--padding-sm);
    border-radius: calc(var(--padding-sm) / 2);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--hl-xxs);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--hl-sm);
  }
}

[role='tablist'] [role='tab'] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--line-height-sm);
  border: 1px solid transparent;
  border-top: none;
  white-space: nowrap;
  position: relative;
  padding: 0 var(--padding-md);
  color: var(--hl);

  &:first-child {
    border-left: 0 !important;
  }
  
  &:focus {
    outline: 0;
  }
}

[role='tablist'] [role='tab'][aria-selected='true'] {
  border-left: 1px solid var(--hl-md);
  border-right: 1px solid var(--hl-md);
}

[role='tab'][aria-disabled] {
  opacity: 0.5;
}

[role='tabpanel'] {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
