{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react",
    ["@babel/preset-env", {"targets": {"node": true}}]
  ]
}
