@import '../constants/dimensions';
@import '../constants/colors';

.form-control {
  width: 100%;
  outline: none;
  border: 0;
  height: $form-height;
}

.btn {
  cursor: pointer;
  text-align: center;
  padding: $default-padding $default-padding * 1.5;
}

input, button {
  box-sizing: border-box;
  padding: $default-padding;
  font-size: inherit;
  background: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  width: auto;
}
