@import '../constants/dimensions';
@import '../constants/colors';

.header {
  &.header-clickable a, &:not(.header-clickable) > *:first-child {
    display: block;
    height: $header-height;
    box-sizing: border-box;
    padding: $default-padding;

  }
  &:not(.header_clickable).header-no-padding > *:first-child {
    padding: 0;
  }

  &.header-clickable.header-no-padding a {
    padding: 0;
  }
}
