@import '../constants/colors';
@import '../constants/dimensions';

.pane {
  .pane__body, .pane__header {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-right: 3px solid rgba(0, 0, 0, 0.2);
  }

  .pane__header {
    border-color: transparent;
    height: $header-height;

    .pane__header__content {
      display: block;
      height: $header-height;
      box-sizing: border-box;
      padding: $default-padding;
    }
  }

  .pane__body {
    height: 100%;
  }
}
