@import '../constants/colors';
@import '../constants/dimensions';

.pane {
  .pane__header {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    height: $header-height;

    .pane__header__content {
      display: block;
      height: $header-height;
      box-sizing: border-box;
      padding: $default-padding;
    }
  }

  .pane__body {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
