@import '../constants/dimensions';
@import '../constants/colors';

.cookie-edit-table {
  input:not([type="checkbox"]) {
    padding: $padding-xs $padding-xxs;
    width: 100%;
  }

  .btn {
    padding: 0;
    width: $line-height-xs;
    height: $line-height-xs;
  }
}
