@import '../constants/colors';
@import '../constants/dimensions';

.dropdown {
  position: relative;
  display: inline-block;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 100;
    min-width: $dropdown-min-width;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);

    // Separate it from the button a bit
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: $radius-md;
    background: $bg-super-light;
    overflow: hidden;

    li {
      & > button {
        font-size: $font-size-md;
        text-align: left;
        padding: $padding-sm $padding-md $padding-sm $padding-sm;
        width: 100%;
        display: block;
        color: $font-super-light-bg !important;

        &:hover {
          background: $hl-sm;
        }

        &:active {
          background: $hl-md;
        }

        i.fa {
          display: inline-block;
          width: 2em;
          text-align: center;
        }
      }
    }
  }

  li.dropdown__divider {
    border-bottom: 1px solid $hl-lg;
    overflow: visible !important;
    margin: $padding-md $padding-md $padding-md $padding-sm;
    height: 0;
    padding: 0;

    .dropdown__divider__label {
      position: relative;
      top: -0.85rem;  // HACK: Fine adjustment
      color: $hl-xxl;
      padding-right: 1em;
      background: #fff;
      font-size: $font-size-xs;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }
  }

  &.dropdown--flip ul {
    bottom: 100%;
    top: auto;
  }

  &.dropdown--open ul {
    display: block;
  }

  &.dropdown--right ul {
    right: 0;
    left: auto;
  }
}
