@import '../constants/colors';
@import '../constants/dimensions';

.dropdown {
  position: relative;
  display: inline-block;

  ul {
    position: absolute;
    left: 0;
    display: none;
    z-index: 10;
    width: 180px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    padding-top: 4px;

    li {
      background: $bg-super-light;
      //border: 1px solid $hl;
      border-bottom-width: 0;
      border-top-width: 0;

      &:first-child {
        border-top-left-radius: $radius-md;
        border-top-right-radius: $radius-md;
        padding-top: 2px;
        border-top-width: 1px;
      }

      &:last-child {
        border-bottom-left-radius: $radius-md;
        border-bottom-right-radius: $radius-md;
        padding-bottom: 2px;
        border-bottom-width: 1px;
      }

      & > button {
        font-size: $font-size-md;
        text-align: left;
        padding: 10px $padding-md;
        width: 100%;
        display: block;
        color: $font-light-bg !important;

        &:hover {
          background: $hl-sm;
        }

        &:active {
          background: $hl-md;
        }

        i.fa {
          display: inline-block;
          width: 2em;
          text-align: left;
        }
      }
    }
  }

  &.dropdown--open ul {
    display: block;
  }

  &.dropdown--right ul {
    right: 0;
    left: auto;
  }
}
