@import '../constants/colors';
@import '../constants/dimensions';

.editor {
  box-sizing: border-box;
  height: 100% !important;
  width: 100%;

  .CodeMirror {
    height: 100% !important;
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    padding-top: $padding-sm;
  }

  .CodeMirror,
  .cm-s-seti.CodeMirror, // Hack because seti theme is dumb
  .CodeMirror-gutters,
  .CodeMirror-scrollbar-filler,
  .CodeMirror-gutter-filler {
    // Let the background behind show through
    background-color: $bg-super-dark !important;
    border: 0;
  }

  .CodeMirror-linenumber, .CodeMirror-guttermarker-subtle {
    color: $hl-xl !important;
  }

  .CodeMirror-scroll {
    cursor: text; // Show text cursor everywhere (not just in .Codemirror-lines)
  }

  .CodeMirror-lines {
    // Scroll past the end
    //padding-bottom: 50px;
  }

  .CodeMirror-placeholder {
    color: $hl-xxl;
  }

  .CodeMirror-lint-marker-error {
    width: 100%;
    height: 1em;
    display: flex;
    background: none;
    text-align: center;

    &::after {
      color: darken($danger, 10);
      text-align: center;
      width: 100%;
      font-size: 0.7em; // because the circle is so large
      content: '⬤';
    }
  }

  &.editor--readonly .CodeMirror-cursors {
    opacity: 0;
  }
}

// This has to be outside because it's moved to the body element
.CodeMirror-lint-tooltip {
  background-color: $bg-light;
  color: $font-light-bg;
  border-radius: 0;
  font-size: $font-size-md;
  padding: $padding-xs $padding-sm;

  .CodeMirror-lint-message-error {
    background-image: none;
    padding-left: 0;
  }
  &::after {
    display: none;
  }
}
