@import '../constants/colors';

.editor {
  height: 100%;
  width: 100%;

  .CodeMirror {
    height: 100% !important;
    width: 100%;
    font-size: 12px !important;
    font-family: "Source Code Pro", monospace;
    box-sizing: border-box;
  }

  .CodeMirror,
  .cm-s-seti.CodeMirror, // Hack because seti theme is dumb
  .CodeMirror-gutters,
  .CodeMirror-scrollbar-filler,
  .CodeMirror-gutter-filler {
    background-color: $bg-dark !important;
  }

  .CodeMirror-linenumber, .CodeMirror-guttermarker-subtle {
    color: #555555 !important;
  }

  .CodeMirror-scroll {
    /*
     * Not sure why but this fixes vertical sizing of scroll
     * area in flexbox grid
     */
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 0;

    /* Normal Overrides */
    cursor: text; // Show text cursor everywhere (not just in .Codemirror-lines)
  }

  .CodeMirror-lines {
    // Scroll past the end
    padding-bottom: 150px;
  }
}

