@import '../constants/dimensions';

.header {
  box-sizing: border-box;
  height: $line-height-md;
  flex-shrink: 0;

  .header__content {
    width: 100%;
    display: block;
    height: $line-height-md;
    box-sizing: border-box;
    padding: 0 $padding-md;
  }
}
