@import '../constants/colors';
@import '../constants/dimensions';

.pane {
  .pane__body, .pane__header {
    border-right: 1px solid $hl-sm;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
  }

  .pane__header {
    border-color: transparent;
    height: $line-height-md;

    // Hack. Put the header over the tab bar because there is some stupid flexbox issues
    position: relative;
    z-index: 1;

    .pane__header__content {
      display: block;
      height: $line-height-md;
      box-sizing: border-box;
      padding: $padding-md;
    }
  }
}
