@import '../constants/colors';
@import '../constants/dimensions';

.pane {
  .pane__body, .pane__header {
    border-right: 1px solid $hl-sm;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
  }

  .pane__header {
    border-color: transparent;
    height: $line-height-md;
    line-height: $line-height-md;

    .pane__header__content {
      width: 100%;
      display: block;
      height: $line-height-md;
      box-sizing: border-box;
      padding: 0 $padding-md;
    }
  }
}
