@import '../constants/colors';
@import '../constants/dimensions';

#request {
  background: $bg-dark;

  .header {
    background: $bg-super-light;
  }

  .url-input {
    background: $bg-light;
    font-size: $font-size-lg;

    .method-dropdown {
      font-size: $font-size-md;
    }
  }
}
