@import '../constants/colors';
@import '../constants/dimensions';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: $hl-xxs;
}

::-webkit-scrollbar-thumb {
  background: $hl-md;
  border-radius: $radius-md;
}
