@import '../constants/colors';
@import '../constants/dimensions';

::-webkit-scrollbar {
  width: $padding-sm;
  height: $padding-sm;
}

::-webkit-scrollbar-track {
  background: $hl-xxxs;
}

::-webkit-scrollbar-thumb {
  background: $hl-md;
  border-radius: $padding-sm;
}
