@import '../constants/dimensions';
@import '../constants/colors';

#sidebar {
  height: 100%;

  .pane__body {
    overflow-y: auto;
  }

  a {
    box-sizing: border-box;
    display: block;
  }

  ul.sidebar-items {
    width: $sidebar-width;

    li.sidebar-item > a {
      color: darken($font-dark-bg, 40%);
      padding: $sidebar-item-padding;
      border-left: 4px solid transparent;
    }
  }

  .sidebar-items li.sidebar-item.active > a {
    border-left-color: $bg-primary;
  }
}
