@import '../constants/colors';
@import '../constants/dimensions';

.ReactTabs {
  .ReactTabs__TabList {
    height: $line-height-md;
    flex-shrink: 0;
    align-items: flex-start;
    align-content: flex-start;
  }

  .ReactTabs__Tab {
    align-self: flex-start;
    button {
      color: $hl;
    }
  }

  .ReactTabs__Tab--selected {
    button {
      color: inherit;
    }
  }

  .ReactTabs__TabPanel {
  }
}
