@import '../constants/colors';
@import '../constants/dimensions';

.ReactTabs {
  .ReactTabs__TabList {
    flex-basis: $line-height-md;
  }

  .ReactTabs__Tab button {
    height: $line-height-md;
    color: $hl;
  }

  .ReactTabs__Tab--selected button {
    color: inherit;
  }
}
