@import '../constants/colors';
@import '../constants/dimensions';

.ReactTabs {
  .ReactTabs__TabList {
    flex-shrink: 0;
    align-items: flex-start;
    align-content: flex-start;
  }

  .ReactTabs__Tab {
    align-self: flex-start;

    button {
      color: $hl-xxl;
      position: relative;
    }
  }

  .ReactTabs__Tab--selected {
    button {
      color: inherit;
    }

    &,
    button:hover {
      background-color: transparent;
    }
  }

  .ReactTabs__TabPanel {
    //border-top: 1px solid $hl-sm;
  }
}
