@import '../constants/dimensions';
@import '../constants/colors';

.tag {
  display: inline-block;
  padding: $padding-sm;
  margin-right: 1em;
  line-height: 1em;
  box-sizing: border-box;
  border-radius: $radius-md;
  text-align: center;
  background: $hl-sm;
  border: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    margin-right: 0;
  }

  &.tag--small {
    padding: $padding-xs;
    font-size: $font-size-xs;
    border-radius: $radius-sm;
  }

  &.tag--no-bg {
    background: transparent;
    border: 0;
  }
}
