@import '../constants/dimensions';
@import '../constants/colors';

.workspace-dropdown {

  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-xxl;

    // HACK: Bump up the arrow a bit
    i.fa {
      font-size: $font-size-lg;
      position: relative;
    }
  }

  // Make the dropdown offset to the right
  ul {
    left: 60% !important;
  }

  .btn {
    padding: 0 $padding-md;
    height: 100%;
  }
}
