@import '../constants/dimensions';
@import '../constants/colors';

.workspace-dropdown {
  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-xxl;
    line-height: 1.2em;

    // HACK: Bump up the arrow a bit
    i.fa {
      font-size: $font-size-lg;
      position: relative;
    }
  }

  .dropdown {
    height: 100%;
  }

  // Make the dropdown offset to the right
  .dropdown ul {
    right: -40%;
  }

  .btn {
    padding: 0 $padding-md;
    height: 100%;
  }
}
