@import '../constants/dimensions';
@import '../constants/colors';

.wrapper {
  background-color: $bg-super-dark;
  color: $font-super-dark-bg;
  display: grid;

  grid-template-columns: $sidebar-width 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;

  height: 100%;
  width: 100%;

  .sidebar {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .request-pane {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .response-pane {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}

@media (max-width: $breakpoint-md) {
  .wrapper {
    .request-pane {
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: span 1;
    }

    .response-pane {
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 2;
      grid-row-end: span 1;
    }
  }
}
