@import '../constants/dimensions';
@import '../constants/colors';

.wrapper {
  background-color: $bg-super-dark;
  color: $font-super-dark-bg;
  display: grid;

  grid-template-rows: 0.5fr 0.5fr;

  height: 100%;
  width: 100%;

  .sidebar {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .drag {
    grid-row-start: 1;
    grid-row-end: span 2;
    position: relative;

    & > * {
      cursor: ew-resize;
      position: absolute;
      //background: red;
      height: 100%;
      z-index: 100;
      width: $drag-width;
      left: -$drag-width / 2;
      top: 0;
    }
  }

  .request-pane {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .response-pane {
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: span 2;
    position: relative;
    background-color: $bg-super-dark;
    z-index: 1;
  }
}

@media (max-width: $breakpoint-md) {
  .wrapper {
    .request-pane {
      grid-column-start: 3;
      grid-column-end: span 3;
      grid-row-start: 1;
      grid-row-end: span 1;
    }

    .response-pane {
      grid-column-start: 3;
      grid-column-end: span 3;
      grid-row-start: 2;
      grid-row-end: span 1;
    }

    .drag--panels {
      display: none;
    }
  }
}
