name: CI

on: [push]

jobs:
  Windows:
    name: Windows
    runs-on: windows-2016
    steps:
      - name: Checkout branch
        uses: actions/checkout@v1
      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Configure Visual Studio version
        run: npm config set msvs_version 2017
      - name: Bootstrap packages
        run: npm run bootstrap
        env:
          GYP_MSVS_VERSION: 2017
      - name: Run tests
        run: npm test
  Mac:
    name: Mac
    runs-on: macOS-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v1
      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Bootstrap packages
        run: npm run bootstrap
      - name: Run tests
        run: npm test
  Linux:
    name: Ubuntu
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout branch
        uses: actions/checkout@v1
      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: Install OS packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev
      - name: Bootstrap packages
        run: npm run bootstrap
      - name: Run tests
        run: npm test
